/* Other global styles such as 'html, body' etc... */

#__next {
    height: 100vh;
  }

  /* Other global styles such as 'html, body' etc... */

html, body {
    height: 100vh;
    background-color: #111016;
  }


/* REMOVE SCROLLBARS */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.clickable:hover {
  cursor:pointer;
}
.clickable:active {
  opacity: 50%;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
